html, body {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

header {
    border: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    background: #0781be;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: left;
    padding: 20px;
    position: relative;
    width: 205px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    color: #0781be;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    border: 2px;
    border-bottom-style: solid;
    border-color: #c2c2c2;
}

.container {
    background-image: url("../images/gravel.png");
    border-top: 2px solid #c2c2c2;
    min-height: 100%;
    margin: auto;
    clear: both;
    overflow: auto;
    position: relative;
}

.container2 {
    background-color: white;
    border: #dddddd;
    margin: auto;
    width: 960px;
    position: relative;
    top: 20px;
}

.main-content {
    padding: 20px;  
    margin: auto;
    position: relative;
    top: 20px;
}

#bio-image {
    float: left;
    padding: 0px 20px 20px 0;
}

footer {
    background: #666666;
    border-top: 8px solid #0781be;
    color: white;
    font-size: 8px;
    height: 40px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.container3 {
    background-color: white;
    border: #dddddd;
    margin: auto;
    width: 750px;
    position: relative;
    top: 20px;
}

.main-content1 {
    background-color: white;
    border: #dddddd;
    padding: 20px;  
    margin: auto;
    width: 750px;
    position: relative;
    
}

.image {
    position: relative;
}

#Airplane {
    float: left;
    padding: 10px 20px 20px 0;
}

#Bus {
    float: left;
    padding: 10px 0 20px 10px;
}

#Lambo {
    float: left;
    padding: 10px 20px 20px 0;
}

#Porsche {
    float: left;
    padding: 10px 0 20px 10px;
}

#Mini {
    padding: 10px 20px 20px 0;
    
}

.header1 {
    position: relative;
    display: inline-flex;
}

#Contact {
    color: #777777;
    float: right;
    padding: 10px 0 40px 30px;
    margin: auto;
    position: relative;
}

#Portfolio {
    color: #777777;
    float: right;
    padding: 10px 0 40px 30px;
    margin: 0 auto;
    position: relative;
}

#About {
    Color: #777777;
    float: right;
    padding: 10px 0 40px 30px;
    margin: 0 auto;
    position: relative;
}