html, body {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    border: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    background: #0781be;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: left;
    padding: 20px 20px 25px 20px;
    position: relative;
    width: 205px;
    height: 30px;
    margin-top: 0;
}

h2 {
    color: #0781be;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    border: 2px;
    border-bottom-style: solid;
    border-color: #c2c2c2;
}

.container {
    background-image: url("../images/gravel.png");
    border-top: 2px solid #c2c2c2;
    min-height: 100vh;
    margin: 0 auto;
    clear: both;
    overflow: auto;
    position: relative;
    padding-top: 0;
}

.container2 {
    background-color: white;
    border: #dddddd;
    margin: auto;
    width: 960px;
    position: relative;
    top: 20px;
}

.main-content {
    border: 1px solid #dddddd;
    padding: 20px;  
    margin: auto;
    position: relative;
}

#bio-image {
    float: left;
    padding: 0px 20px 20px 0;
}

footer {
    background: #666666;
    border-top: 8px solid #0781be;
    color: white;
    font-size: 8px;
    height: 40px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.container3 {
    background-color: white;
    border: #dddddd;
    margin: auto;
    width: 750px;
    position: relative;
    top: 20px;
}

.main-content1 {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 20px;  
    margin: auto;
    width: 750px;
    position: relative;
}



#Airplane {
    position: relative;
    float: left;
    padding: 10px 20px 20px 0;
}

#Flight {
    position: absolute;
    background: #0781be;
    color: white;
    height: 50px;
    width: 250px;
    text-align: center;
    line-height: 50px;
}

#Bus {
    float: left;
    padding: 10px 0 20px 10px;
}

#Lambo {
    float: left;
    padding: 10px 20px 20px 0;
}

#Porsche {
    float: left;
    padding: 10px 0 20px 10px;
}

#Mini {
    padding: 10px 20px 20px 0;
    
}

.header1 {
    position: relative;
    display: inline-flex;
    padding-bottom: 0;
}

.main-nav {
    padding-left: 440px;
}

.main-nav1 {
    position: relative;
    padding-left: 200px;
}

#Contact {
    color: #777777;
    float: right;
    padding: 10px 0 40px 24px;
    margin: auto;
    position: relative;
}

#Portfolio {
    color: #777777;
    float: right;
    padding: 10px 0 40px 24px;
    margin: 0 auto;
    position: relative;
}

#About { 
    Color: #777777;
    float: right;
    padding: 10px 0 40px 24px;
    margin: 0 auto;
    position: relative;
}

a:link {
    text-decoration: none;
}

form {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    border 1px solid #999;
}

input, textarea {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    width: 735px;
    padding: 5px;
}

textarea {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    height: 12em;
    padding: 5px;
}

button {
    background: #0781be;
    color: white;
    padding: 5px 15px 5px 15px;
}

