body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #0781be;
    border: #cccccc;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    margin: auto;
    padding: 20px;
}

h2 {
    color: #0781be;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    background: #666666;
    border-top: 8px solid #0781be;
    color: white;
    float: bottom;
    font-size: 8px;
    height: 40px;
    text-align: center;
}

.container {
    background-color: #cccccc;
    border: #dddddd;
    height: 1100px;
    margin: 0 auto;
    position: relative;
}

.main-content {
    background-color: white;
    height: 960px;
    padding: 40px;
    position: absolute;
    width: 960px;
}

#bio-image {
    float: left;
    padding: 10px;
}
